.btn.btn-primary1 {
    font-size: 1rem;
}

.bg-primary {
    color: #fff;
}

.table-responsive {
    width: 100%;
    height: 300px;
}

.text-primary {
    margin-top: 0.5rem;
}

.card-body {
    padding: 0 1rem;
}

#regresar {
    float: right;
}

