.btn.btn-primary1 {
    font-size: 1rem;
}

.bg-primary {
    color: #fff;
}

/* .container {
    margin-top: 2rem;
} */

.table-responsive {
    width: 620px;
    height: 300px;
}

.text-primary {
    margin-top: 0.5rem;
}
