Options All -Indexes

RewriteEngine On
RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?pagina=$1

# asegurando el archivo htaccess
<Files .htaccess>
order allow,deny
deny from all
</Files>

# denegar acceso a robots maliciosos, extractores de webs y navegadores offline
